nav {
  background: url("../../assets/images/bg-sidebar-desktop.svg");
  width: 274px;
  height: 568px;
  padding-top: 20px;
  background-repeat: no-repeat;
}

#stepnumber {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 70px;
  padding-left: 10px;
}
/* #stepcontainer {
width: 153px;
height: 228px;
} */

.step {
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 0;
  border-radius: 100%;
  width: 33px;
  height: 27px;
  align-items: center;
  text-align: center;
  padding-top: 6px;
  border: 1px solid white;
  color: white;
}

.active-step {
  background-color: #bee2fd;
  color: black;
  border-color: none;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 0;
  border-radius: 100%;
  width: 33px;
  height: 27px;
  align-items: center;
  text-align: center;
  padding-top: 6px;
}

#steptextcontainer {
  color: white;
  height: 50px;
  padding-top: 20px;
  font-family: "Ubuntu", sans-serif;
  
}

#steplabel {
  color: #abbcff;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
   font-weight: 400;
}
#stepdescription {
    padding-top: 5px;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}