.multi-step-form {
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
    margin-top: 20px;
}

#buttonNext {

    background-color: #022959;
    color: white;
    width: 123px;
    height: 48px;
    border: none;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 325px;
    font-weight: 500;
    font-size: 16px;
}